h1 {
    border: 10px ridge;
    padding: 10px 11px;
    margin: 12px;
    width: 500px;
}
.ba {
    background-color: rgb(120, 232, 76);
    width: 500px;
}

#cm {
    background-color: blueviolet;
    width: 500px;
}